.btn {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: bold;
    cursor: pointer;
}

.btn-primary,
.btn-primary:visited {
    display: inline-block;
    background-color: var(--button-bg-primary);
    color: #fff;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: var(--button-bg-primary-hover);
    color: #fff;
}

.btn-secondary,
.btn-secondary:visited {
    display: inline-block;
    background-color: var(--button-bg-secondary);
    color: #fff;
}

.btn-secondary:hover,
.btn-secondary:focus {
    background-color: var(--button-bg-secondary-hover);
    color: #fff;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgb(218, 214, 214);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 15px 23px 3px rgb(0 0 0 / 10%)
}

.card-header img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-bottom: 1px solid rgb(218, 214, 214);
}

.card-body {
    padding: 15px;
    flex: 1;
}

.card-posted {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    color: #888;
}

.card-footer {
    padding: 15px;
}

/* AUTHOR CARD */
.card.card-author .card-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 25px 25px 5px;
}

.card.card-author .card-title {
    margin: 0;
}

.card.card-author .card-header ul {
    list-style-type: none;
    font-weight: bold;
    color: #888;
    margin: 0;
    padding: 0;
}

.card.card-author .card-avatar {
    width: 125px;
    height: 125px;
    margin: 0 auto 15px;
    background-image: url("/images/author.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 1px solid #444;
}

.card.card-author .card-body,
.card.card-author .card-footer {
    padding-top: 0;
    text-align: center;
}

.card.card-author .card-footer {
    margin-bottom: 10px;
}

/* SIDEBAR CARD */
.card.card-sidebar {
    margin-top: 50px;
}

.card.card-sidebar h3 {
    text-align: center;
}

/* FORMS */
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    padding-bottom: 5px;
}

/* POST BLOG PAGE */
.post {
    margin-top: 50px;
}

.post h1 {
    font-size: 45px;
    margin-top: 80px;
    color: var(--dark-red);
}

.post-section p {
    margin: 20px 0;
}

.post-section ul li {
    margin: 10px 0;
}

.post-section figure {
    margin: 0 0 40px;
}

.post-section figure img {
    width: 100%;
    border-radius: 5px;
}

.post-section figure figcaption{
    font-size: 13px;
    font-style: italic;
}

/* TABLE */
.table {
    border-collapse: collapse;
    text-align: left;
}

.table th,
.table td {
    border: 1px solid gray;
    padding: 5px;
}

/* LIST */
.list {
    margin-left: 0;
}

.list li {
    padding-bottom: 10px;
}